@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #152135;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Urbanist', sans-serif;
}

body {
  font-family: 'Urbanist', sans-serif;
  background: var(--background);
  color: var(--foreground);
}
